@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 15px;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 30px;
  background: #1c1d1f;
  border-bottom: 1px solid #3e4143;
  width: 100%;
  z-index: 1000;
  position: sticky;
  top: 0;
  justify-content: space-between;
}

.navbar .nav-left,
.navbar .nav-right {
  display: flex;
  align-items: center;
}
.navbar .nav-right {
  gap: 100px;
}
.navbar .nav-right .progress {
  color: #fff;
  font-weight: 700;
}
.navbar .logo img {
  height: 60px;
}
.navbar .logo {
  position: relative;
}

.navbar .course-title {
  color: #fff;
  font-size: 1rem;
  margin-left: 30px;
  border-left: 1px solid #3e4143;
  padding-left: 30px;
}
.course-title h4 {
  font-weight: 100;
}

.navbar .nav-dropdown {
  cursor: pointer;
  position: relative;
}
.profile-dropdown {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 0;
  background: #fff;
  color: #000;
  width: 240px;
  margin-left: -145px;
  color: black;
  border-radius: 3px;
  padding: 0px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  transition: all 0.5s ease;
}
.profile-dropdown ul .profile-hover li {
  color: #000;
}
.profile-dropdown.show {
  display: block;
}

.article-container .article-heading,
.article-container .article-banner {
  margin-bottom: 20px;
}

.article-content h1,
.article-content h2,
.article-content p {
  margin: 10px 0;
}
.article-banner img {
  width: 100%;
}

.article-content ul li,
.article-content ol li {
  margin-left: 30px;
}

.course-container {
  position: relative;
  display: flex;
}

.main-content-container {
  width: 75%;
  overflow: hidden;
}
.main-content-container .article-container {
  overflow: hidden;
  flex-shrink: 0;
  max-width: 1080px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
}

.article-end-nav {
  border-bottom: 1px solid #d1d7dc;
  border-top: 1px solid #d1d7dc;
  display: flex;
  gap: 30px;
  font-weight: 700;
}

.nav-item {
  padding: 15px 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-item.active {
  border-bottom: 2px solid #000;
}

.article-end-section {
  overflow: hidden;
  flex-shrink: 0;
  max-width: 1080px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.article-end-nav-desc {
  padding: 20px;
  border-bottom: 1px solid #b3b3b3;
}
.nav-item-desc {
  display: none;
}
.nav-item-desc.show {
  display: block;
}
.article-end-nav .nav-item {
  cursor: pointer;
}

.article-footer {
  background: #1c1d1f;
  padding: 20px 50px;
  border-bottom: 1px solid #d1d7dc;
  color: #fff;
}
.article-footer .footer-info h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.article-footer .footer-info h5 {
  font-size: 0.9rem;
  font-weight: 400;
}

.sidebar-nav-container {
  /* position: relative; */
  width: 25%;
}
/* .sidebar-nav-container .nav-btn {
  position: absolute;
  top: 50px;
  right: 0;
  border: 1px solid #000;
  padding: 10px 15px;
  font-size: 25px;
  cursor: pointer;
  transition: right 0.4s ease;
  z-index: 100;
}
.sidebar-nav-container .nav-btn.click {
  right: 270px;
} */

.sidebar-nav-container .nav-btn.click::before {
  content: "\f061";
}

.sidebar {
  height: calc(100vh - 63px);
  position: fixed;
  /* overflow-y: scroll; */
  top: 63px;
  width: 25%;
  right: 0;
  background: #fafafa;
  overflow-x: hidden;
  border: 1px solid #f7f9fa;
  transition: 0.5s ease-in-out;
  /* position: relative; */
}
/* .sidebar.show-sidebar {
  right: 0;
} */

.sidebar .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
  border: 1px solid #d1d7dc;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.sidebar .heading h5 {
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 20px;
}

.sidebar .lessons {
  height: 100%;
  width: 100%;
  list-style: none;
  margin-top: 50px;
}

.sidebar .lessons .lesson-container {
  display: block;
  font-weight: 600;
  position: relative;
}

.heading span.mobile-nav-icon {
  display: none;
}

.course-lesson {
  display: flex;
  font-size: 15px;
}

div.lessons div.lesson-container {
  border-bottom: 1px solid #3e414357;
}

.course-item {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  color: #1c1d1f;
  padding: 0.9rem 0.8rem;
  flex-direction: column;
}
.course-item-title {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  width: 100%;
}
.course-item-title p {
  width: 90%;
  font-weight: 700;
  line-height: 1.1;
  font-size: 1rem;
}
.course-item-title .icon {
  width: 10%;
}
.course-item .course-item-info .total-time {
  color: #6a6f73;
  font-weight: 200;
  font-size: 0.85rem;
}

.article-end-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
  margin-bottom: 30px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 1080px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.article-end-btns a {
  text-decoration: none;
  color: #1c1d1f;
  border: 1px solid #1c1d1f;
  padding: 8px 12px;
}

.article-end-btns a:hover {
  background: #d1d7dc;
}

/* .lessons .course-item {
  cursor: pointer;
} */

.lessons .lesson {
  font-size: 15px;
  font-weight: 300;
  display: flex;
  padding: 0.8rem 1.5rem;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin-bottom: 5px;
  cursor: pointer;
}

.lessons .lesson:hover {
  background: #d1d7dc;
}

.lessons .lesson .lesson-name {
  font-weight: 700;
  font-size: 16px;
}

.lessons .lesson .lesson-info {
  margin-left: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lessons .lesson .lesson-info .time {
  color: #6a6f73;
  display: flex;
  /* margin-right: 20px; */
}
.lessons .lesson .lesson-info .lesson-xp {
  margin-left: 20px;
}

.sidebar .lessons .lesson-container i {
  margin-left: 4px;
  margin-right: 8px;
}

.lessons .lesson .lesson-info .resources {
  cursor: pointer;
  display: inline-block;
  padding: 5px 5px 5px 5px;
  font-size: 14px;
  color: #000000;
  background-color: #fff;
  border: 1px solid #1c1d1f;
}

.sidebar .lessons .lesson-container .sub-menu {
  display: none;
}

.sidebar .lessons .lesson-container .sub-menu.show {
  display: block;
}

.sidebar .lessons .sub-menu {
  font-size: 1.2rem;
}

.sidebar .lessons .lesson input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: #1c1d1f;
  border-color: #1c1d1f;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
  position: relative;
}

.sidebar .lessons .lesson input[type="checkbox"]::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.sidebar .lessons .sub-menu input[type="checkbox"]:checked::after {
  display: block;
}

.sidebar .lessons a {
  color: #1c1d1f;
  text-decoration: none;
  position: relative;
}

/* nav ul li a p span.icon {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
} */

.sidebar .lessons a:hover p span.icon {
  transform: translateY(-50%) rotate(180deg);
}

@media (max-width: 800px) {
  .heading span.mobile-nav-icon {
    display: block;
  }
  .course-container {
    flex-direction: column;
  }

  .navbar {
    padding-right: 10px;
  }
  .navbar .logo img {
    height: 50px;
  }
  .navbar .course-title {
    font-size: 0.9rem;
    margin-left: 10px;
    padding-left: 10px;
  }
  .navbar .nav-right {
    gap: 10px;
  }

  .main-content-container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
  }

  .main-content-container .article-container {
    padding: 10px;
  }

  .article-end-nav {
    gap: 8px;
    justify-content: center;
  }
  .nav-item {
    padding: 15px 0;
    margin-left: 8px;
    margin-right: 8px;
  }

  .article-footer {
    padding: 20px;
  }
  .sidebar-nav-container {
    width: 100%;
    height: 55px;
    position: sticky;
    bottom: 0;
    overflow: hidden;
  }
  .sidebar-nav-container.show-mobile {
    height: 60vh;
    /* position: absolute; */
  }

  .sidebar {
    position: relative;
    width: 100%;
    top: 0;
  }
  .sidebar .heading {
    position: sticky;
    top: 0;
  }
  .sidebar .lessons {
    margin-top: 0;
  }

  .sidebar .lessons a .fas {
    right: 30px;
  }
}
