@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 15px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background: #1c1d1f;
  border-bottom: 1px solid #3e4143;
  width: 100%;
  z-index: 1000;
  position: sticky;
  top: 0;
}
.navbar .logo img {
  height: 60px;
}
.navbar .logo {
  position: relative;
}

.navbar .course-title {
  color: #fff;
  font-size: 1rem;
  margin-left: 30px;
  border-left: 1px solid #3e4143;
  padding-left: 30px;
}
.course-title span {
  font-weight: 100;
}

article h1,
article h2,
article p {
  margin: 10px 0;
}
article img {
  width: 80%;
}

ul li {
  list-style: none;
}

.course-container {
  position: relative;
  display: flex;
}

.main-content-container {
  width: 75%;
  overflow: hidden;
}
.main-content-container article {
  padding: 40px;
}

.sidebar-nav-container {
  /* position: relative; */
  width: 25%;
}
/* .sidebar-nav-container .nav-btn {
  position: absolute;
  top: 50px;
  right: 0;
  border: 1px solid #000;
  padding: 10px 15px;
  font-size: 25px;
  cursor: pointer;
  transition: right 0.4s ease;
  z-index: 100;
}
.sidebar-nav-container .nav-btn.click {
  right: 270px;
} */

.sidebar-nav-container .nav-btn.click::before {
  content: "\f061";
}

.sidebar {
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  top: 63px;
  width: 25%;
  right: 0;
  background: #fafafa;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #f7f9fa;
  transition: 0.5s ease-in-out;
}
/* .sidebar.show-sidebar {
  right: 0;
} */

.sidebar .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
  border: 1px solid #d1d7dc;
  background-color: #fff;
}
.sidebar .heading h5 {
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 20px;
}

nav ul {
  height: 100%;
  width: 100%;
  list-style: none;
}

nav ul li {
  display: block;
  font-weight: 600;
  position: relative;
}

.heading span.mobile-nav-icon {
  display: none;
}

.course-lesson {
  display: flex;
}

.course-item {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
  color: #1c1d1f;
  padding: 0.8rem;
}

.article-end-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
  margin-bottom: 30px;
}

.article-end-btns a {
  text-decoration: none;
  color: #1c1d1f;
  border: 1px solid #1c1d1f;
  padding: 8px 12px;
}

.article-end-btns a:hover {
  background: #d1d7dc;
}

.lessons .lesson {
  font-size: 15px;
  font-weight: 300;
  display: flex;
  padding: 0.8rem 1.5rem;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-bottom: 5px;
  cursor: pointer;
  border-bottom: 1px solid #3e414357;
}

.lessons .lesson:hover {
  background: #d1d7dc;
}

.lessons .lesson .lesson-name {
  font-weight: 700;
  font-size: 16px;
}

.lessons .lesson .lesson-info {
  margin-left: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lessons .lesson .lesson-info .time {
  color: #6a6f73;
}

nav ul li i {
  margin-left: 4px;
  margin-right: 8px;
}

.lessons .lesson .lesson-info .recources {
  cursor: pointer;
  display: inline-block;
  padding: 5px 5px 5px 5px;
  font-size: 15px;
  color: #000000;
  background-color: transparent;
  border: 1px solid #1c1d1f;
}

nav ul ul {
  display: none;
}

nav ul .sub-menu.show {
  display: block;
}

nav ul .sub-menu {
  font-size: 1.2rem;
}

nav ul .lesson input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: #1c1d1f;
  border-color: #1c1d1f;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
  position: relative;
}

nav ul .lesson input[type="checkbox"]::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

nav ul .sub-menu input[type="checkbox"]:checked::after {
  display: block;
}

nav ul a {
  color: #1c1d1f;
  text-decoration: none;
  position: relative;
  display: block;
}

nav ul a span {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
}

nav ul a:hover span {
  transform: translateY(-50%) rotate(180deg);
}

@media (max-width: 500px) {
  .heading span.mobile-nav-icon {
    display: block;
  }
  .course-container {
    flex-direction: column;
  }

  .main-content-container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
  }

  .sidebar-nav-container {
    width: 100%;
    height: 55px;
    position: sticky;
    bottom: 0;
    overflow-y: scroll;
  }
  .sidebar-nav-container.show-mobile {
    height: 60vh;
    /* position: absolute; */
  }

  .sidebar {
    position: relative;
    width: 100%;
    top: 0;
  }

  nav ul a span {
    right: 30px;
  }
}
